[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
customtkinter = "*"
ctkmenubar = "*"
ctklistbox = "*"
ctkmessagebox = "*"
ctktooltip = "*"
ctktable = "*"
camelot-py = "*"
pypdf = "*"
icalendar = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
